.root {
    display: inline-flex;
    gap: 0.5em;
    align-items: center;

    input {
        display: none;
    }

    &:has(input:checked)::before {
        content: 'check_box';
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
        color: var(--orange-color);
    }

    &::before {
        content: 'check_box_outline_blank';
        font-family: 'Material Symbols Outlined';
        font-size: 1.25em;
    }
}